<html>
    <head>
        <title>Pagina de muestra </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Practica de Django</a></h1>
        </div>

        <div>
            <p>published: 07.07.2019, 14:46</p>
            <h2><a href="">My first post</a></h2>
            <p>Cuando pierdes la experiencia es la recompensa.</p>
        </div>

        <div>
            <p>published: 07.07.2019, 14:50</p>
            <h2><a href="">My second post</a></h2>
            <p>Mientras mas  dediques tiempo a algo, mas los dominaras .</p>
        </div>
    </body>
</html>